@font-face {
    font-family: 'Montserrat';
    src: url('./static/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    src: url('./static/fonts/Montserrat-LightItalic.ttf') format('truetype');
    src: url('./static/fonts/Montserrat-Regular.ttf') format('truetype');
    src: url('./static/fonts/Montserrat-ThinItalic.ttf') format('truetype');
}










  